<nav>
    <div>
        <img src="https://i.ibb.co/3ckMnZr/logo.png" width="30" height="30" alt="PostIt logo">
       </div>
    <div>
        <input type="text">
        <button>Search</button>
    </div>
    <div class = "links">
        <a href="/posts">Posts</a>
        <a href="/addnewpost">New post</a>
    </div>
    <div>
        <div class="dropdown">
            <input type="image" src="https://i.ibb.co/Df8PP0p/user.png" alt="User" onclick="myFunction()" class="dropbtn">
            <div id="myDropdown" class="dropdown-content">
                <p>John Doe</p>
                <p>john@ceo.com</p>
            </div>
        </div>
    </div>
</nav>
